ul#album-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

ul#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #fff;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    transition: .5s;
}

ul#album-fotos li:hover {
   transform: scale(1.5); 
}

ul#album-fotos li span {
    opacity: 0;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(0, 0, 0, .3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}

ul#album-fotos li:hover span {
    opacity: 1;
}

li#foto01 {
    background: url('../images/galeria-01.jpg') no-repeat;
}

li#foto02 {
    background: url('../images/galeria-02.jpg') no-repeat;
}

li#foto03 {
    background: url('../images/galeria-03.jpg') no-repeat;
}

li#foto04 {
    background: url('../images/galeria-04.jpg') no-repeat;
}

li#foto05 {
    background: url('../images/galeria-05.jpg') no-repeat;
}

li#foto06 {
    background: url('../images/galeria-06.jpg') no-repeat;
}

/* Needs to remove ul#album-fotos from the previous li#foto0n */
ul#album-fotos li.fotos {
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #fff;
}

ul#album-fotos li.fotos:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

@media (min-width: 600px) and (max-width: 800px) {
    ul#album-fotos {
        display: flex;
        width: 600px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 0;
    }

    ul#album-fotos li {
        list-style: none;
        flex: 300px 300px;
    } 
}

@media (max-width: 600px) {
    ul#album-fotos {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        align-items: center;
    }
}