/* @charset "UTF-8"; */

section#conteudo {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

iframe#frame-spec {
    position: relative;
    width: 30%;
    height: 320px;
    top: 15px;
}

@media (max-width: 800px) {
    section#conteudo {
        display: block;
    }

    img#google-glass {
        display: block;
        width: 100%;
    }

    iframe#frame-spec {
        width: 100%;
        height: 300px;
    }
}
